module_order:
    - fastqc:
        name: 'FastQC (raw)'
        path_filters:
            - '*_fastqc.zip'
        path_filters_exclude:
            - '*_trimmed*_fastqc.zip'
    - fastqc:
        name: 'FastQC (trimmed)'
        info: 'This section of the report shows FastQC results after adapter trimming.'
        target: ''
        path_filters:
            - '*_trimmed*_fastqc.zip'
    - star
    - trimmomatic:
        name: 'Trimmomatic'
        path_filters:
            - '*_trimmomatic.log'
