params {
  reads = false
  singleEnd = false
  adapter = "$baseDir/assets/no_adapter.txt"
  readlength = 48
  outdir = 'results'
}

process.container = 'lifebitai/splicing-pipelines-nf:latest'

profiles {
  docker { docker.enabled = true }
  test {
    params {
      singleEnd = true
      readPaths = [
        ['SRR4238351', ['https://github.com/nf-core/test-datasets/raw/rnaseq/testdata/SRR4238351_subsamp.fastq.gz']],
        ['SRR4238355', ['https://github.com/nf-core/test-datasets/raw/rnaseq/testdata/SRR4238355_subsamp.fastq.gz']],
        ['SRR4238359', ['https://github.com/nf-core/test-datasets/raw/rnaseq/testdata/SRR4238359_subsamp.fastq.gz']],
        ['SRR4238379', ['https://github.com/nf-core/test-datasets/raw/rnaseq/testdata/SRR4238379_subsamp.fastq.gz']],
      ]
    }
  }
  sumner {
    params {
      adapter = '/projects/anczukow-lab/tools/Trimmomatic-0.39/adapters/TruSeq3-PE.fa'
    }
  }
}