params {
  // TODO: change all params to snake_case
  // Main arguments
  reads = false
  singleEnd = false
  genome = false
  // Reads
  stranded = false
  b1 = false
  b2 = false
  adapter = 'NO_FILE'
  readlength = 48
  overhang = false
  mismatch = 2
  // Other
  skiprMATS = false
  skipMultiQC = false
  outdir = 'results'
  // Genome references
  genome = 'GRCh38'
  // Other
  overhang = 100
  // illumina iGenomes reference file paths on sumner
  igenomes_base = '/projects/adeslat/igenomes'
  // gencode version 
  gencode_gtf = '/projects/adeslat/igenomes/Homo_sapiens/Gencode/gencode.v33.annotation.gtf'
}

process {
  container = 'gcr.io/nextflow-250616/splicing-pipelines-nf'
  withName: 'rmats' {
      container = 'gcr.io/nextflow-250616/rmats:4.0.2'
  }
  withName: 'paired_rmats' {
    container = 'gcr.io/nextflow-250616/rmats:4.0.2'
  }
}

includeConfig 'conf/base/base.config'
includeConfig 'conf/base/igenomes.config'
includeConfig 'conf/executors/google.config'

profiles {
  docker { docker.enabled = true }
  test { includeConfig 'conf/test/test.config' }
  test_pe { includeConfig 'conf/test/test_pe.config' }
  sumner { includeConfig 'conf/executors/sumner.config' }
  myc_mcf10a_0h_vs_myc_mcf10a_8h { includeConfig 'conf/examples/MYC_MCF10A_0h_vs_MYC_MCF10A_8h.config' }
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}