params {
  // Input data:
  reads         = 'gs://jax-cloudos-olgaanczukow-project-data/test_data/gcp-test-reps.csv'
  rmats_pairs   = 'gs://jax-cloudos-olgaanczukow-project-data/test_data/rmats_pairs.txt'
  run_name      = 'gcp-test-sadeqa15'
  download_from = false
  key_file      = false

  // Main arguments:
  gtf           = 'gs://jax-test-genomics-wf-01-project-data/mouse_reference_genome/transcripts.gtf'
  assembly_name = 'GRCm38'
  star_index    = 'gs://jax-test-genomics-wf-01-project-data/mouse_reference_genome/star'
  singleEnd     = false
  stranded      = 'first-strand'
  readlength    = 150

  // Trimmomatic:
  minlen        = 20
  slidingwindow = true

  //Star:
  mismatch      = 5
  filterScore   = 0.66
  sjdbOverhangMin = 3
  soft_clipping = true
  save_unmapped = false

  //rMATS:
  statoff       = false
  paired_stats  = false
  novelSS       = false
  mil           = 50
  mel           = 500

  //Other:
  test          = false
  max_cpus      = 48
  max_memory    = 512.GB
  max_time      = 72.h
  skiprMATS     = false
  skipMultiQC   = false
  mega_time     = 20.h
  debug         = false
  error_strategy = 'finish'
  cleanup       = false
}

cleanup = params.cleanup

process {
  errorStrategy = params.error_strategy
}
