/*
 * -------------------------------------------------
 *  nf-core/rnaseq Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

params  { 
  mega_time = 20.h
  }

process {

  errorStrategy = 'finish'
  maxRetries = params.max_retries
  maxErrors = '-1'

  // Process-specific resource requirements
  withLabel: tiny_memory {
    cpus = 4
    memory = 10.GB 
    time = 8.h 
  }
  withLabel: low_memory {
    cpus = 8
    memory = 20.GB 
    time = 8.h 
  }
  withLabel: mid_memory {
    cpus = 8
    memory = 30.GB 
    time = 16.h 
  }
  withLabel: high_memory {
    cpus = 24
    memory = 128.GB
    time = 24.h 
  }
  withLabel: mega_memory {
    cpus = 48
    memory = 512.GB 
    time = 72.h
  }
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
