google {
    lifeSciences.bootDiskSize = 100.GB
    lifeSciences.preemptible = true
    zone = 'us-east1-b'
    network = 'jax-poc-lifebit-01-vpc-network'
    subnetwork = 'us-east1-sub2'
}

docker.enabled = true

executor {
    name = 'google-lifesciences'
}

params {
    // Max resources
    max_memory     = 60.GB
    max_cpus       = 16
}

process {
    disk = "200 GB"
    errorStrategy = { task.exitStatus in [3,14,143,137,104,134,139] ? 'retry' : 'terminate' }
    maxRetries = 5
    container  = 'gcr.io/nextflow-250616/splicing-pipelines-nf:gawk'
    withName: 'get_accession' {
        cpus = 4
        memory = 10.GB
        container = 'gcr.io/nextflow-250616/download_reads:latest'
    }
    withName: 'get_tcga_bams' {
        cpus = 2
        memory = 2.GB
        container = 'gcr.io/nextflow-250616/download_reads:latest'
    }
    withName: 'bamtofastq' {
        cpus = 4
        memory = 4.GB
        container = 'gcr.io/nextflow-250616/download_reads:latest'
    }
    withName: 'fastqc' {
        cpus = 2
        memory = 2.GB
    }
    withName: 'trimmomatic' {
        cpus = 2
        memory = 2.GB
    }
    withName: 'fastqc_trimmed' {
        cpus = 2
        memory = 2.GB
    }
    withName: 'star' {
        cpus = { check_max (8 * task.attempt, 'cpus')}
        memory = { check_max( 50.GB * task.attempt, 'memory' ) }
    }
    withName: 'stringtie' {
        cpus = 8
        memory = 30.GB
    }
    withName: 'stringtie_merge' {
        cpus = 8
        memory = 30.GB
        container = 'gcr.io/nextflow-250616/splicing-pipelines-nf:gawk'
    }
    withName: 'prep_de' {
        cpus = 8
        memory = 30.GB
        container = 'gcr.io/nextflow-250616/splicing-pipelines-nf:gawk'
    }
    withName: 'rmats' {
        cpus = 16
        memory = 60.GB
        container = 'gcr.io/nextflow-250616/rmats:4.1.0'
    }
    withName: 'paired_rmats' {
        cpus = 16
        memory = 60.GB
        container = 'gcr.io/nextflow-250616/rmats:4.1.0'
    }
    withName: 'multiqc' {
        cpus = 2
        memory = 2.GB
    }
}
