google {
    lifeSciences.bootDiskSize = 100.GB
    lifeSciences.preemptible = true
    region = 'europe-west2'
}

docker.enabled = true

process {
	
    cache = 'lenient'

    executor = 'google-lifesciences'
    
    container = 'nfcore/rnaseq:1.3'

    errorStrategy { task.exitStatus == 14 ? 'retry' : 'terminate' }
    maxRetries = 100

    withName: 'getAccession' {
        container = 'gcr.io/nextflow-250616/sratools'
        cpus = 8
        memory = '30 GB'
    }
    withName: 'trimming' {
        container = 'gcr.io/nextflow-250616/fastp:latest'
        cpus = 8
        memory = '31 GB'
    }
    withName: 'mapping' {
        container = 'gcr.io/nextflow-250616/hisat2index:samtools'
        cpus = 24
        memory = '60 GB'
    }
    withName: 'sortbam' {
        cpus = 8
        memory = '30 GB'
    }
    withName: 'markduplicates' {
        errorStrategy = 'ignore'
        cpus = 10
        memory = '32 GB'
    }
    withName: 'paired_rmats' {
        cpus = 16
        memory = '60 GB'
    }
    withName: 'sampleCountsSave' {
        cpus = 1
        memory = '2 GB'
    }
    withName: 'createMatrices' {
        executor = 'ignite'
        cpus = 1
        memory = '2 GB'
    }
    withLabel: 'rmats' {
        container = 'pprietob/rmats:latest'
    }
    withLabel: 'rmats' {
        container = 'pprietob/postrmats:latest'
    }
}
