google {
    lifeSciences.preemptible = true
    zone = 'us-east1-b'
    network = 'jax-poc-lifebit-01-vpc-network'
    subnetwork = 'us-east1-sub2'
}

docker.enabled = true

executor {
    name = 'google-lifesciences'
}

process {
    disk = "200 GB"
    errorStrategy = { task.attempt <= 100 ? 'retry' : 'ignore' }
    maxRetries = 100
    container  = 'gcr.io/nextflow-250616/splicing-pipelines-nf'

    withName: 'fastqc' {
        cpus = 4
        memory = 24.GB 
    }
    withName: 'trimmomatic' {
        cpus = 8
        memory = 31.GB
    }
    withName: 'star' {
        cpus = 12
        memory = 60.GB
        disk = "500 GB"
    }
    withName: 'stringtie' {
        cpus = 8
        memory = 30.GB
    }
    withName: 'stringtie_merge' {
        cpus = 8
        memory = 30.GB
    }
    withName: 'rmats' {
        cpus = 24
        memory = 60.GB
        container = 'gcr.io/nextflow-250616/rmats:4.0.2'
    }
    withName: 'paired_rmats' {
        cpus = 24
        memory = 60.GB
        container = 'gcr.io/nextflow-250616/rmats:4.0.2'
    }
    withName: 'multiqc' {
        cpus = 8
        memory = 30.GB
    }
}