/*
 * -------------------------------------------------
 *  Nextflow config file for running pipeline with Singularity locally
 * -------------------------------------------------
 * Base config needed for running with -profile singularity
 */

params {
  singularity_cache = "local_singularity_cache"
}

singularity {
  enabled = true
  cacheDir = params.singularity_cache
  autoMounts = true
}

// ensure that no user libraries get mounted into the container
//process.containerOptions = "--no-home"