/*
 * -------------------------------------------------
 *  Nextflow config file for running on JAX's Sumner HPC
 * -------------------------------------------------
 * Base config needed for running with -profile sumner
 */

process.executor = 'slurm'
singularity.enabled = true
params.adapter = '/projects/anczukow-lab/tools/Trimmomatic-0.39/adapters/TruSeq3-PE.fa'
// TODO: add something like `process.beforeScript = 'module load singularity'`?
