/*
 * -------------------------------------------------
 *  Nextflow config file for running on JAX's Sumner HPC
 * -------------------------------------------------
 * Base config needed for running with -profile sumner
 */

process {
  executor = 'slurm'
  beforeScript = 'module load singularity'
}

singularity {
  enabled = true
  autoMounts = true
}
