//Fastqc

params.name           = 'fastqc'
params.download_from  = false
params.readlength     = 150
params.outdir         = 'results'

//Trimmomatic

params.singleEnd      = false
params.stranded       = 'first-strand'
params {

     strType {
      'first-strand' {
        strType = 2
      }
      'second-strand' {
        strType = 1
      }
    }
}
params.minlen         = 20
params.slidingwindow  = true
params.adapter        = '/projects/anczukow-lab/splicing_pipeline/splicing-pipelines-nf/adapters/TruSeq3-PE.fa'

// star

params.overhang        = false
params.mismatch        = 2
params.filterScore     = 0.66
params.sjdbOverhangMin = 3
params.star_memory     = false
params.soft_clipping   = true
params.save_unmapped   = false 
params.star_index      = false
params.tracedir        = "${params.outdir}/pipeline_info"

// Max resources

params.max_memory     = 760.GB
params.max_cpus       = 72
params.max_time       = 72.h
params.debug          = false


//Save of .command.* logs

params.savescript     = 'task_hash=`basename \${PWD} | cut -c1-6`; mkdir command-logs-\$task_hash ; cp .command.*{err,log,sh} command-logs-\$task_hash'
params.max_retries    = 5

//containers
//params.fastqc_container      = '/projects/anczukow-lab/gudurg/dsl2/containers/fastqc_v0.11.9_cv8.sif'
//params.trimmomatic_container = '/projects/anczukow-lab/gudurg/dsl2/containers/trimmomatic_0.39.sif'
//params.star_container        = '/projects/anczukow-lab/gudurg/dsl2/containers/star_2.7.10a_alpha_220506.sif'
//params.samtools_container    =  '/projects/anczukow-lab/gudurg/dsl2/containers/samtools_latest.sif'
//params.deeptools_container   =  '/projects/anczukow-lab/gudurg/dsl2/containers/deeptools_v0.0.1.sif'

params.fastqc_container      = '/projects/researchit/crf/containers/splice/fastqc.sif'
params.trimmomatic_container = '/projects/researchit/crf/containers/splice/trimmomatic.sif'
params.star_container      = '/projects/researchit/crf/containers/splice/star.sif'
params.samtools_container      = '/projects/researchit/crf/containers/splice/samtools.sif'

includeConfig '/projects/anczukow-lab/splicing_pipeline/splicing-pipelines-nf/conf/executors/base.config'

profiles {
   standard {
    singularity.enabled = true
    process.excecutor = 'local'
 }
}

dag {
  enabled = true
  overwrite = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
report {
  enabled = true
  overwrite = true
  file = "${params.tracedir}/execution_report.html"
}
timeline {
  enabled = true
  overwrite = true
  file = "${params.tracedir}/execution_timeline.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.tracedir}/execution_trace.txt"
  fields = 'process,tag,name,status,exit,script'
} 
