params.name     = 'star'
params.reads    = '/projects/anczukow-lab/gudurg/dsl2/trim/*_trimmed_R{1,2}.fastq.gz'
params.outdir   = 'results'
params.gtf      = '/projects/anczukow-lab/reference_genomes/mouse_black6/Gencode/gencode.vM23.primary_assembly.annotation.gtf'
//params.star_container        = '/projects/anczukow-lab/gudurg/dsl2/containers/star_2.7.10a_alpha_220506.sif'
//params.deeptools_container   =  '/projects/anczukow-lab/gudurg/dsl2/containers/deeptools_v0.0.1.sif'
//params.samtools_container    =  '/projects/anczukow-lab/gudurg/dsl2/containers/samtools_latest.sif'
params.assembly_name = 'GRCm38'
params.index    = '/projects/anczukow-lab/reference_genomes/mouse_black6/Gencode/star_overhangs_2.7.9a/star_2.7.9a_GRCm38_150.tar.gz'
params.singleEnd     = false
params.stranded      = 'first-strand'
params.readlength    = 150
params.mismatch      = 5
params.filterScore   = 0.66
params.sjdbOverhangMin = 3
params.soft_clipping = true
params.save_unmapped = false
params.overhang        = false

//Other:
params.test          = false
params.max_cpus      = 72
params.max_memory    = 760.GB
params.max_time      = 72.h
params.mega_time     = 20.h
params.debug         = false
params.error_strategy = 'finish'
params.cleanup       = false

cleanup = params.cleanup
process {
  errorStrategy = params.error_strategy
}
