//Fastqc
params.reads                   = '/projects/anczukow-lab/gudurg/dsl2/fastqc/*{R1,R2}.fastq.gz'
params.outdir                  = '/projects/anczukow-lab/gudurg/dsl2'

//trimmomatic
params.trimmomatic_reads       = '/projects/anczukow-lab/gudurg/dsl2/fastqc/*R{1,2}.fastq.gz'

//fastqc on trimmed
params.fastqc_on_trimmed_reads = '/projects/anczukow-lab/gudurg/dsl2/trim/*_trimmed_R{1,2}.fastq.gz'

//star
params.star_reads              = '/projects/anczukow-lab/gudurg/dsl2/trim/*_trimmed_R{1,2}.fastq.gz'
params.reads                   = 'reads.csv'
params.gtf                     = '/projects/anczukow-lab/reference_genomes/human/Gencode/gencode.v32.primary_assembly.annotation.gtf'
params.assembly_name           = 'GRCm38'
params.index                   = '/projects/anczukow-lab/reference_genomes/human/Gencode/star_overhangs_2.7.9a/star_150'
params.singleEnd               = false
params.stranded                = 'first-strand'
params.readlength              = 150
params.mismatch                = 5
params.filterScore             = 0.66
params.sjdbOverhangMin         = 3
params.soft_clipping           = true
params.save_unmapped           = false
params.overhang                = 149

//index
params.bam                     = '/projects/anczukow-lab/gudurg/dsl2/star_mapped/*.bam'

//bamCoverage
params.bai                     = '/projects/anczukow-lab/gudurg/dsl2/star_mapped/index/*.bai'

//prepDE
params.prepde_gtf = '/projects/anczukow-lab/gudurg/dsl2/star_mapped/*for_DGE.gtf'

//gffcompare
params.stringtie_merge_gtf = '/projects/anczukow-lab/gudurg/dsl2/star_mapped/stringtie_merged.gtf'

//gffread
params.gffread_gtf = '/projects/anczukow-lab/gudurg/dsl2/star_mapped/gffcmp.annotated.corrected.gff'

//R
params.annotated_gtf = '/projects/anczukow-lab/gudurg/dsl2/star_mapped/gffcmp.annotated.gtf'
