params.workflow        = 'dsl2_workflow'

//Fastqc

params.name             = 'fastqc'
params.download_from    = false
params.readlength       = 150
params.outdir           = '/projects/anczukow-lab/gudurg/dsl2'

//Trimmomatic

params.singleEnd        = false
params.stranded         = 'first-strand'
params {

     strType {
      'first-strand' {
        strType = 2
      }
      'second-strand' {
        strType = 1
      }
    }
}
params.minlen           = 20
params.slidingwindow    = true
params.adapter          = '/projects/anczukow-lab/splicing_pipeline/splicing-pipelines-nf/adapters/TruSeq3-PE.fa'

// star

params.assembly_name    = false
params.star_index       = false
params.gtf              = false
params.bams             = false
params.overhang         = false
params.mismatch         = 2
params.filterScore      = 0.66
params.sjdbOverhangMin  = 3
params.star_memory      = false
params.soft_clipping    = true
params.save_unmapped    = false 
params.tracedir         = "${params.outdir}/pipeline_info"
params.sjdbOverhang     = 1

// Max resources

params.max_memory     = 760.GB
params.max_cpus       = 72
params.max_time       = 72.h
params.debug          = false
params.max_retries    = 5
params.echo           = false
params.test           = false
params.help           = false
params.mega_time      = 20.h
params.error_strategy = 'finish'
params.allowed_error_strategies = ['terminate', 'finish', 'ignore', 'retry']
params.cleanup = true 
params.run_name       = 'test_run'
params.test           = false
params.outdir         = 'results'
params.key_file       = false

params.stringtie_merge_cpus = 8
params.stringtie_merge_memory = 30.GB
params.stringtie_merge_machine_type = false

//Save of .command.* logs

params.savescript     = 'task_hash=`basename \${PWD} | cut -c1-6`; mkdir command-logs-\$task_hash ; cp .command.*{err,log,sh} command-logs-\$task_hash'

//containers
params.fastqc_container      = '/projects/anczukow-lab/gudurg/dsl2/containers/fastqc_v0.11.9_cv8.sif'
params.trimmomatic_container = '/projects/anczukow-lab/gudurg/dsl2/containers/trimmomatic_0.39.sif'
params.star_container        = '/projects/anczukow-lab/gudurg/dsl2/containers/star_2.7.10a_alpha_220506.sif'
params.deeptools_container   = '/projects/anczukow-lab/gudurg/dsl2/containers/deeptools_3.5.1.sif'
params.samtools_container    = '/projects/anczukow-lab/gudurg/dsl2/containers/samtools_latest.sif'
params.stringtie_container   = '/projects/anczukow-lab/gudurg/dsl2/containers/stringtie_2.1.7--420b0db.sif'
params.gffcompare_container = '/projects/anczukow-lab/gudurg/dsl2/containers/gffcompare_latest.sif'
params.gffread_container    = '/projects/anczukow-lab/gudurg/dsl2/containers/gffread_latest.sif'
params.R_container          = '/projects/anczukow-lab/gudurg/dsl2/containers/rtracklayer_latest.sif'

includeConfig '/projects/anczukow-lab/splicing_pipeline/splicing-pipelines-nf/conf/executors/base.config'

profiles {
   standard {
    singularity.enabled = true
    process.excecutor = 'local'
 }

slurm {
    singularity.enabled = true
    process.executor = 'slurm'
    process.queue = 'compute'
    process.time = '8h'
    clusterOptions = '-q dev'
    module = ['singularity']
    process.memory = '128 GB'
    process.cpus = 24
  }
} 
