params {

  // Main arguments
  // reads = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/rmats/reads/replicates/paired_end_reads_replicates.csv'
  reads = 'examples/testdata/paired_end/reads_sumner.csv'
  singleEnd = false
  genome = 'GRCh38'

  // Reads
  stranded = false
  // b1 = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/rmats/reads/replicates/b1.txt'
  // b2 = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/rmats/reads/replicates/b2.txt'
  b1 = 'examples/testdata/paired_end/b1.txt'
  b2 = 'examples/testdata/paired_end/b2.txt'
  adapter = 'NO_FILE'
  readlength = 48
  overhang = 100
  mismatch = 2

  // Genome references
  genome = 'GRCh38'
  // star_index = false
  // gtf = false
  // gencode_gtf = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/jax/splicing-pipelines-nf/references/GRCh38/gencode.v32.annotation.gtf'
  gencode_gtf = '/projects/adeslat/igenomes/Homo_sapiens/Gencode/gencode.v32.annotation.gtf'

  // Other
  skiprMATS = false
  skipMultiQC = false
  outdir = 'results'

  // illumina iGenomes reference file paths on sumner
  // igenomes_base = 's3://ngi-igenomes/igenomes/'
  igenomes_base = '/projects/adeslat/igenomes'

  // Resources
  max_cpus = 16
  max_memory = '120.GB'

}