/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run jacksonlabs/splicing-pipelines-nf -config conf/examples/human_test.config
 */

params {
  // Input data
  b1          = 'examples/testdata/human_test/b1.txt'
  b2          = 'examples/testdata/human_test/b2.txt'
  reads       = 'examples/testdata/human_test/human_test_reps.csv'

  // Output directory
  outdir      = 'human_test'

  // Genome references
  star_index  = '/projects/anczukow-lab/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/STARIndex'
  gtf         = '/projects/anczukow-lab/igenomes/Homo_sapiens/Gencode/gencode.v32.primary_assembly.annotation.gtf'

  // Other
  overhang = 100
  readlength = 48
}