params {
  // Input files
  reads       = '/projects/anczukow-lab/splicing_pipeline/splicing-pipelines-nf/examples/human_test/human_test_reps.csv'
  rmats_pairs = '/projects/anczukow-lab/splicing_pipeline/splicing-pipelines-nf/examples/human_test/rmats_pairs.txt'
  run_name    = 'human_test_run'
  
  // Main arguments
  gtf           = '/projects/anczukow-lab/reference_genomes/human/Gencode/gencode.v32.primary_assembly.annotation.gtf'
  assembly_name = 'GRCh38'
  star_index    = '/projects/anczukow-lab/reference_genomes/human/Gencode/star_overhangs/star_60'
  stranded      = 'first-strand'
  readlength = 60
  
  // Star
  mismatch      = 2
  
  // rMATS
  statoff       = true
}
