/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run jacksonlabs/splicing-pipelines-nf -config conf/examples/human_test.config
 */

params {
  // Input data
  rmats_pairs = '/projects/anczukow-lab/splicing_pipeline/splicing-pipelines-nf/examples/human_test/rmats_pairs.txt'
  reads       = '/projects/anczukow-lab/splicing_pipeline/splicing-pipelines-nf/examples/human_test/human_test_reps.csv'

  // Output directory
  outdir      = 'human_test_results'

  // Genome references
  assembly_name = 'GRCh38'
  star_index  = '/projects/anczukow-lab/reference_genomes/human/Gencode/star_overhangs/star_45'
  gtf         = '/projects/anczukow-lab/reference_genomes/human/Gencode/gencode.v32.primary_assembly.annotation.gtf'

  // Other
  readlength = 45
}
