params {
  // Input data
  b1          = 'examples/analyses/MYC_MCF10A_0h_vs_MYC_MCF10A_8h/b1.txt'
  b2          = 'examples/analyses/MYC_MCF10A_0h_vs_MYC_MCF10A_8h/b2.txt'
  reads       = 'examples/analyses/MYC_MCF10A_0h_vs_MYC_MCF10A_8h/reads.csv'

  // Output directory
  outdir      = '/projects/anczukow-lab/analyses/MYC_MCF10A_0h_vs_MYC_MCF10Ah'

  // Genome references
  star_index  = '/projects/anczukow-lab/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/STARIndex'
  gtf         = '/projects/anczukow-lab/igenomes/Homo_sapiens/Gencode/gencode.v32.primary_assembly.annotation.gtf'

  // Other
  overhang = 100
  readlength = 48

}