/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run jacksonlabs/splicing-pipelines-nf -profile MYC_MCF10A_0h_vs_MYC_MCF10A_8h
 */

params {
  // Input data
  reads = "examples/analyses/MYC_MCF10A_0h_vs_MYC_MCF10A_8h/reads.csv"
  b1    = "examples/analyses/MYC_MCF10A_0h_vs_MYC_MCF10A_8h/b1.txt"
  b2    = "examples/analyses/MYC_MCF10A_0h_vs_MYC_MCF10A_8h/b2.txt"
}