params {

  // Main arguments
  reads       = 'examples/analyses/MYC_MCF10A_0h_vs_MYC_MCF10A_8h/reads.csv'
  singleEnd   = false

  // Reads
  stranded    = false
  b1          = 'examples/analyses/MYC_MCF10A_0h_vs_MYC_MCF10A_8h/b1.txt'
  b2          = 'examples/analyses/MYC_MCF10A_0h_vs_MYC_MCF10A_8h/b2.txt'
  adapter     = "$baseDir/examples/testdata/no_adapter.txt"
  readlength  = 48
  overhang    = 100
  mismatch    = 2

  // Genome references
  star_index  = '/projects/anczukow-lab/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/STARIndex'
  gtf         = '/projects/anczukow-lab/igenomes/Homo_sapiens/Gencode/gencode.v32.primary_assembly.annotation.gtf'

  // Other
  skiprMATS   = false
  skipMultiQC = false
  outdir      = 'results'

  // Resources
  max_cpus    = 16
  max_memory  = '120.GB'

}