params {

  // Main arguments
  reads = 'examples/analyses/MYC_MCF10A_0h_vs_MYC_MCF10A_8h/reads.csv'
  singleEnd = false
  genome = 'GRCh38'

  // Reads
  stranded = false
  b1 = 'examples/analyses/MYC_MCF10A_0h_vs_MYC_MCF10A_8h/b1.txt'
  b1 = 'examples/analyses/MYC_MCF10A_0h_vs_MYC_MCF10A_8h/b2.txt'
  adapter = 'NO_FILE'
  readlength = 48
  overhang = 100
  mismatch = 2

  // Genome references
  genome = 'GRCh38'
  star_index = '/projects/adeslat/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/STARIndex'
  // gtf = false
  // not absolutely necessary since nextflow downloads links if not present and stages - but bigger files may slow things down.
  // The Anczukow-lab prefers to use the primary annotation - as it is a superset of all the annotation files.
  // gencode_gtf = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/jax/splicing-pipelines-nf/references/GRCh38/gencode.v33.primary_assembly.annotation.gt'
  gtf         = '/projects/adeslat/igenomes/Homo_sapiens/Gencode/gencode.v33.primary_assembly.annotation.gtf'
  gencode_gtf = '/projects/adeslat/igenomes/Homo_sapiens/Gencode/gencode.v33.primary_assembly.annotation.gtf'

  // Other
  skiprMATS = false
  skipMultiQC = false
  outdir = 'results'

  // illumina iGenomes reference file paths on sumner
  // igenomes_base = 's3://ngi-igenomes/igenomes/'
  igenomes_base = '/projects/adeslat/igenomes'

  // Resources
  max_cpus = 16
  max_memory = '120.GB'

}