params {
	gencodeFile              = "gs://nfcloudinputdata/references/rmats/gencode.v30.annotation.gtf.gz"
	output                   = "results"
	readType                 = "paired"
	readLength               = 25
	accessionList            = "gs://nfcloudinputdata/inputs/rmats/example/reads/short_kallisto_SRR_Acc_List.txt"
}
