/*
 * -------------------------------------------------
 *  Nextflow config file for running ultra quick tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run jacksonlabs/splicing-pipelines-nf -profile ultra_quick_test
 * 
 */

params {
  // Input data
  singleEnd = false
  reads = "$baseDir/examples/testdata/sra/sra_test_paired_end.csv"
  download_from = 'FTP'

  // Genome references
  gtf = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/jax/splicing-pipelines-nf/genes.gtf'
  star_index = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/jax/splicing-pipelines-nf/star_2.7.9a_yeast_chr_I.tar.gz'

  // Other
  test = true
  readlength = 500
  // This doesn't make biological sense but prevents all reads being removed during trimming
  overhang = 100

  // Limit resources
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
}
