/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run jacksonlabs/splicing-pipelines-nf -profile test_pe
 */

params {
  // Input data
  b1          = 'examples/testdata/paired_end/b1.txt'
  b2          = 'examples/testdata/paired_end/b2.txt'
  reads       = 'examples/testdata/paired_end/paired_end_reads_replicates.csv'

  // Output directory
  outdir      = 'test_pe'

  // Genome references
  star_index  = '/projects/anczukow-lab/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/STARIndex'
  gtf         = '/projects/anczukow-lab/igenomes/Homo_sapiens/Gencode/gencode.v32.primary_assembly.annotation.gtf'

  // Other
  overhang = 100
  readlength = 48
}