/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run jacksonlabs/splicing-pipelines-nf -config conf/examples/test.config
 */

params {
  // Input data
  singleEnd   = true
  rmats_pairs = 'examples/testdata/single_end/rmats_pairs.txt'
  reads       = 'examples/testdata/single_end/test_reps.csv'

  // Output directory
  outdir      = 'test_single_end'

  // Genome references
  star_index  = '/projects/anczukow-lab/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/STARIndex'
  gtf         = '/projects/anczukow-lab/igenomes/Homo_sapiens/Gencode/gencode.v32.primary_assembly.annotation.gtf'

  // Other
  overhang = 100
  readlength = 48
}