/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run jacksonlabs/splicing-pipelines-nf -profile test
 * 
 * Note:  This is configured for cloud execution and not for sumner
 */

params {
  // Input data
  singleEnd = true
  reads = "examples/testdata/single_end/reads.csv"
  
  // Genome references
  gtf = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/jax/splicing-pipelines-nf/genes.gtf'
  star_index = 'https://github.com/czbiohub/test-datasets/raw/olgabot/subset-chrom-I-gzip/reference/star.tar.gz'

  // Other
  overhang = 100

  // Limit resources
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
}