params {
  // Input data
  test = true
  reads = 'reads.csv'

  // Genome references
  assembly_name = 'GRCh38'
  gtf         = '/projects/anczukow-lab/reference_genomes/human/Gencode/gencode.v32.primary_assembly.annotation.gtf'

  // Other
  readlength = 120
  stranded = true
  mismatch = 2
  singleEnd = false
}
